fastapi[standard]
sqlalchemy
pydantic-settings
authlib
pyjwt
google-auth
psycopg2-binary
alembic
httpx
itsdangerous
requests
passlib[bcrypt]
email-validator
resend
a2wsgi
cloudinary
pymupdf
python-multipart